
    @font-face {
        font-family: "PP Telegraf", Sans-serif;
        src: url('https://gitlab.com/abdul_kohhar/font-telegraf/-/blob/main/Telegraf-Regular-400.woff2') format('woff2'),
        font-weight: 400;
        font-style: normal;
    } 

    @font-face {
        font-family: "PP Telegraf", Sans-serif;
        src: url('https://gitlab.com/abdul_kohhar/font-telegraf/-/blob/main/Telegraf-UltraBold-800.woff2') format('woff2'),
        font-weight: 800;
    } 

    @font-face {
        font-family: "PP Telegraf", Sans-serif;
        src: url('https://gitlab.com/abdul_kohhar/font-telegraf/-/blob/main/Telegraf-UltraLight-200.woff2') format('woff2'),
        font-weight: 200;
        font-style: normal;
    } 
